body{
    margin: 0;
    padding: 0;

}
::-webkit-scrollbar{
    display: none;
}

.dashboard-container {
 padding: 20px;
  display: flex;
  justify-content: center;  /* centers horizontally */
  align-items: center;      /* centers vertically */
}

.dashboard-img {
  max-width: 40%;
  height: auto;
}
